{% extends 'base.html' %}
{% block title %}Weather{% endblock %}

{% block content %}
    <h1>Weather Report</h1>
    {% if user.is_authenticated %}
        <p><a href="{% url 'logout' %}">logout</a></p>

        <script type="text/javascript">

            $(document).ready(function () {
                $(function(){
                $.ajax({
                    url: 'http://localhost:8000/api/weather-listing/',
                    dataType: 'json',
                    async: true,
                    method: "GET",
                    success:(function(data){

                        var trHTML = '';
                        $.each(data, function (index, object) {
                            trHTML += '<tr><td>' + object.city + '</td><td>' + object.created + '</td><td>' + object.latitude + '</td><td>' + object.longitude + '</td><td>' + object.main + '</td><td>' + object.description + '</td><td>' + object.temp + '</td><td>' + object.temp_min + '</td><td>' + object.temp_max + '</td><td>' + object.pressure + '</td><td>' + object.humidity + '</td><td>' + object.wind_speed+ '</td><td>' + object.sunrise + '</td><td>'+ object.sunset;
                        });
                        $('#weather_table').append(trHTML);
                    }),
                    error: (function (jqXHR, textStatus, errorThrown) {
                    alert('Hey, something went wrong because: ' + errorThrown);
                })
                });
                });
            });
        </script>

        <table id="weather_table" border='1'>
            <tr>
                <th>City</th>
                <th>Recorded at</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Main</th>
                <th>Description</th>
                <th>Temp</th>
                <th>Temp_min</th>
                <th>Temp_max</th>
                <th>Pressure</th>
                <th>Humidity</th>
                <th>Wind_speed</th>
                <th>Sunrise</th>
                <th>Sunset</th>
            </tr>
        </table>

    {% else %}
    <p>Please Log in or Sign up </p>
        <a href="{% url 'login' %}">login</a> <br>
        <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}
